<mat-toolbar color="primary">
    <div fxHide.md fxHide.lg fxHide.xl>
        <button mat-icon-button (click)="toggleMenu()" >
            <mat-icon> menu</mat-icon> 
        </button>
    </div>
    <div><a [routerLink]="['/']">Logo</a></div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs fxHide.sm >
        <ul class="naviLinks" fxLayout fxLayoutGap="10px">
            <li><a [routerLink] = "['/signup']">Sign Up</a></li>
            <li><a [routerLink] = "['/login']" >Login</a></li>
            <li><a [routerLink] = "['/training']">Training</a></li>
            <li><a>Logout</a></li>
        </ul>
    </div>
</mat-toolbar>