.nav-caption-mat-icons{
    display: inline-block;
    padding-right: 10px;
}
a{
    text-decoration: none;
    color:#ffffff;
    cursor: pointer;
}
a:hover, a:active{
    color: lightgrey;
}
ul.naviLinks{
    list-style: none;
    padding: 0;
    margin: 0
}

