<mat-nav-list>
    <a mat-list-item [routerLink] = "['/signup']" (click)="closeSideMenu()">
        <mat-icon class="nav-caption-mat-icons">face</mat-icon>
        Sign Up
    </a>
    <a mat-list-item [routerLink] = "['/login']" (click)="closeSideMenu()" >
        <mat-icon class="nav-caption-mat-icons">https</mat-icon>
        Login
    </a>
    <a mat-list-item [routerLink] = "['/training']" (click)="closeSideMenu()">
        <mat-icon class="nav-caption-mat-icons">directions_run</mat-icon>
        Training
    </a>
    <mat-list-item>
        <button mat-icon-button>
            <mat-icon class="nav-caption-mat-icons">vertical_align_top</mat-icon>
            Logout
        </button>
    </mat-list-item>
</mat-nav-list>